@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.headings {
  font-family: "Poppins", sans-serif;
  font-size: 4.25rem;
  line-height: 2.5rem;
  font-weight: 200;
  line-height: 1.5;
}

.subheadings {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

.htags {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  line-height: 2rem;
  font-weight: 300;
  line-height: 1.5;
}

body {
  color: white;
  background: white;
}

.text {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

.button {
  @apply inline-block px-4 py-2 rounded-lg bg-white text-black hover:bg-slate-100;
}
