@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.headings {
  font-family: "Inter", sans-serif;
  font-size: 4.25rem;
  line-height: 2.5rem;
  font-weight: 100;
  line-height: 1.5;
}

.subheadings {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 100;
  line-height: 1.5;
}

body {
  color: white;
  background: white;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5;
}
